.profile__edit-button {

  background-image: url(../../../images/pen.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  outline: 1px solid #fff;
  width: 24px;
  height: 24px;
  margin-left: 18px;
}

