.popup__input-job {
  width: 100%;
  border: none;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
  font-size: 14px;
  line-height: 33px;
  font-weight: 400;
  margin: 0 0 48px;
  padding: 0 2px;
}

@media (max-width: 525px) {
  .popup__input-job {
    margin-bottom: 45px;
  }
}

